################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test2/FileContentIndex
/.vs/Test2/v17
