################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test Server/FileContentIndex
/Data/Logs/Commands
